.top-bar {
    width: 100%;
    border-style: solid;
    overflow: auto;
}

.logo {
    text-align: left;
    font-size: 30px;
    border-style: solid;
    border-color: red;
    width: 33%;
    float: left;

}
.header {
    text-align: center;
    font-size: 30px;
    border-style: solid;
    border-color: blue;
    width: 33%;
    float: left;
}
.hamburger {
    text-align: right;
    font-size: 30px;
    border-style: solid;
    border-color: green;
    width: 33%;
    float: right;
}

/*
Code for the Search bar copied from:
https://www.w3schools.com/howto/howto_css_searchbar.asp
*/
.search-bar input[type=text] {
    /*margin-top: 8px;*/
    /*margin-right: 16px;*/
    font-size: 17px;
    width: 50%;
    float: left;
}

button {
    /*margin-top: 8px;*/
    margin-right: 16px;
    font-size: 17px;
    width: 40%;
    /*float: right;*/
    border-radius: 5px;
}


.body-section {
    width: 100%;
    border-style: solid;
    overflow: auto;
    border-color: orange;
}

.search-section {
    /*border-style: dashed;
    border-color: blue;*/
    margin-top: 8px;
    width: 70%;
    overflow: auto;
    float: left;
}

.job-card {
    /*border-style: solid;
    border-color: gray;*/
    margin-top: 8px;
    width: 99%;
    float: left;
    overflow: auto;
}

.filter {
    border-style: solid;
    border-color: purple;
    /*margin-top: 8px;*/
    width: 29%;
    float: right;
    overflow: auto;
}

.dumb-box {
    border-style: solid;
    border-color: gray;
    overflow: auto;
    border-radius: 7px;
    /*width: 70%;*/
}

.filter-search-bar input[type=text] {
    /*margin-top: 8px;*/
    /*margin-right: 16px;*/
    text-align: left;
    font-size: 17px;
    width: 80%;
    float: left;
}

table {
    width: 100%;
    float:left;
    overflow: auto;
}
tr:nth-child(2) {
    background-color:lightgray;
}