.top-bar {
    width: 100%;
    border-style: solid;
    overflow: auto;
}

.logo {
    text-align: left;
    font-size: 30px;
    border-style: solid;
    border-color: red;
    width: 33%;
    float: left;

}
.header {
    text-align: center;
    font-size: 30px;
    border-style: solid;
    border-color: blue;
    width: 33%;
    float: left;
}
.hamburger {
    text-align: right;
    font-size: 30px;
    border-style: solid;
    border-color: green;
    width: 33%;
    float: left;
}

/*
Code for the Search bar copied from:
https://www.w3schools.com/howto/howto_css_searchbar.asp
*/
.search-bar input[type=text] {
    /*margin-top: 8px;*/
    /*margin-right: 16px;*/
    font-size: 17px;
    width: 50%;
    float: left;
}

.button-purple {
    /*margin-top: 8px;*/
    margin-right: 16px;
    font-size: 17px;
    width: 40%;
    /*float: right;*/
    border-radius: 5px;
    background-color: purple;
    color: white;
}

.button-purple:hover {
    background-color: green;
}

.button-orange {
    /*margin-top: 8px;*/
    margin-right: 16px;
    font-size: 17px;
    width: 40%;
    /*float: right;*/
    border-radius: 5px;
    background-color: orange;
    color: white;
}
.button-orange:hover {
    background-color: green;
}

.button-gray {
    /*margin-top: 8px;*/
    margin-right: 16px;
    font-size: 17px;
    width: 40%;
    /*float: right;*/
    border-radius: 5px;
    background-color: gray;
    color: white;
}
.button-gray:hover {
    background-color: green;
}

.body-section {
    width: 100%;
    /*border-style: solid;
    border-color: orange;*/
    overflow: auto;
}

.search-section {
    /*border-style: dashed;
    border-color: blue;*/
    margin-top: 8px;
    width: 70%;
    overflow: auto;
    float: left;
}

.job-card {
    /*border-style: solid;
    border-color: gray;*/
    margin-top: 8px;
    padding: 8px;
    width: 95%;
    float: left;
    overflow: auto;
}

.filter {
    border-style: solid;
    border-color: gray;
    /*margin: 8px;*/
    padding: 8px;
    width: 25%;
    float: right;
    overflow: auto;
}

.dumb-box {
    border-style: solid;
    border-color: gray;
    overflow: auto;
    border-radius: 7px;
    /*width: 70%;*/
}

.filter-search-bar input[type=text] {
    /*margin-top: 8px;*/
    /*margin-right: 16px;*/
    text-align: left;
    font-size: 17px;
    width: 80%;
    float: left;
}

table {
    width: 100%;
    float:left;
    overflow: auto;
}
tr:nth-child(even) {
    background-color:lightgray;
}

.gray-background {
    width: 100%;
    background: rgba(0,0,0,0.5); /*https://stackoverflow.com/questions/11184117/transparent-css-background-color*/
    position: absolute;

    /*needed because */
    right: 0px;
    top: 0px;
    
    /*https://jsfiddle.net/EeAaB/*/
    min-height: 100%;
    padding: 0px;
}

.foreground-box {
    /*position: relative;*/
    /*left: 30%;*/
    border-radius: 5px;
    background-color: white;
    /*top: 50%;*/

    /*https://www.w3schools.com/css/css_align.asp*/
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
    text-align: center;
}

.filler-box {
    min-height: 25%
}